
@model List<BookTypeListViewModel>


<h3 class="text-center">Kitap Türleri Listeleme Sayfası</h3>

<a asp-controller="BookType" asp-action="Create" class="btn btn-warning fw-bold float-end mb-2">Yeni Ekle</a>



<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style="width:1000px">Kitap Türü</th>
                <th>Aksiyonlar</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-controller="BookType" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Güncelle</a>
                        <a asp-controller="BookType" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>