
@model BookTypeUpdateViewModel

<h3>Kitap Türü Güncelleme Sayfası</h3>

<form method="post" asp-controller="BookType" asp-action="Update">

    <input asp-for="Id" />
    @*Güncellenecek veri için kullanıcıdan id bilgisi de alınmalı.*@

    <div>
        <label>Kitap Türü</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>


    <button type="submit" class="btn btn-success mt-2">Güncelle</button>


</form>